/* Main Stylesheet, Ian Bachman-Sanders, March 2017 */
.axis path, /* vertical axes*/
.axis line { /* little nubs*/
	fill: none;
	stroke: black;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 0.9em;
}

.title {
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}

.labels {
	font-family: sans-serif;
}

.map {

}

.countries {
	stroke: #444;
	stroke-width: 1px;
	stroke-linecap: round;
}

.gratlines {
	fill: none;
	stroke: #636363;
	stroke-width: 1px;
}

.gratBack {
	fill: #9ecae1;
}

.chartContainer {
	float: right;
}

.chartArea {
	fill: none;
}

.circles {
	stroke: #444;
	stroke-width: 1px;
	stroke-linecap: round;		
}

.title {
	font-family: sans-serif;
	font-size: 1em;
	fill: #444;
	font-weight: bold;
}

.yAxis path,
.yAxis line,
.xAxis path,
.xAxis line {
	fill: none;
	stroke: #444;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.yAxis text,
.xAxis text {
	font-family: sans-serif;
	font-size: 1em;
	fill: #444;
}